@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #11519a;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px; }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #104c90; }
  a:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

body {
  color: #0b215f;
  background: #f4f5fc; }

h2, h4, h5 {
  color: #0b215f; }

h3 {
  color: #ffffff; }

.main-header-section, .main-nav li ul, .notification-pop-up-wrap {
  background-color: #ffffff; }

.recipient-form-wrap {
  background-color: #fafafa; }

.main-nav li > a, button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
  color: #0b215f; }

.notification .info .time {
  color: #646872; }

.main-content-wrap {
  background-color: #f4f5fc; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  color: #9e9f9e; }

[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  color: #8a95ff;
  border-color: #8a95ff; }

.recipient-form-wrap input[type="email"] {
  border: 1px solid #8a95ff; }
.recipient-form-wrap input[type="submit"] {
  background: #8a95ff;
  color: #ffffff;
  border-color: #8a95ff; }

.one-third .two-half h6,
.one-third .two-half p {
  color: #ffffff; }
.one-third .link-wrap a {
  color: #ff6a68; }

.news-wrap .slider-content h4 {
  color: #ffffff; }

.notification-item-wrap {
  background-color: #ffffff; }

.avatar-inner span {
  color: #0b215f; }

.column .column h6 {
  color: #ffffff; }
.column .column p {
  color: #ffffff; }

.news-wrap .info h6 {
  color: #0b215f; }

.upcoming-notification a {
  color: #8a95ff; }

.one-third:hover h5 {
  background-color: #0b215f;
  color: #ffffff; }

.btn.default-btn {
  background-color: #ffffff;
  color: #357bd9; }
  .btn.default-btn:hover {
    background-color: #357bd9;
    color: #ffffff; }

.one-fourth-gellary-section.connect-to-more-section .one-fourth, .connect-to-more-section.new-flash-section .one-fourth {
  background-color: #ffffff; }

.company-documents-section,
.white-bg {
  background-color: #ffffff; }

.single-news {
  color: #ffffff; }
  .single-news h4,
  .single-news a {
    color: #ffffff; }
  .single-news.white-bg {
    color: #0b215f; }
    .single-news.white-bg h4,
    .single-news.white-bg a {
      color: #0b215f; }

.navy-blue-bg {
  background-color: #8a95ff; }

.dark-blue-bg {
  background-color: #0b215f; }

.company-documents-section .one-fourth.bush h5 {
  color: #10391e; }
.company-documents-section .one-fourth.bush:hover h5 {
  background-color: #10391e; }
.company-documents-section .one-fourth.light-green h5 {
  color: #3b5504; }
.company-documents-section .one-fourth.light-green:hover h5 {
  background-color: #3b5504; }
.company-documents-section .one-fourth.purple h5 {
  color: #3904a2; }
.company-documents-section .one-fourth.purple:hover h5 {
  background-color: #3904a2; }
.company-documents-section .one-fourth.dark-green h5 {
  color: #1d2221; }
.company-documents-section .one-fourth.dark-green:hover h5 {
  background-color: #1d2221; }
.company-documents-section .one-fourth.light-red h5 {
  color: #e44b4b; }
.company-documents-section .one-fourth.light-red:hover h5 {
  background-color: #e44b4b; }
.company-documents-section .one-fourth.dark-purple h5 {
  color: #170339; }
.company-documents-section .one-fourth.dark-purple:hover h5 {
  background-color: #170339; }
.company-documents-section .one-fourth.gray h5 {
  color: #151515; }
.company-documents-section .one-fourth.gray:hover h5 {
  background-color: #151515; }
.company-documents-section .one-fourth.magenta h5 {
  color: #5b0223; }
.company-documents-section .one-fourth.magenta:hover h5 {
  background-color: #5b0223; }
.company-documents-section .one-fourth:hover h5 {
  color: #ffffff; }

/*  Typography variables */
/* //End  Typography variables */
.gradient-text.blue {
  background-image: -moz-linear-gradient(bottom, #00efd1, #00acea);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(#00efd1), color-stop(#00acea));
  background-image: -webkit-linear-gradient(bottom, #00efd1, #00acea);
  background-image: -o-linear-gradient(bottom, #00efd1, #00acea);
  background-image: -ms-linear-gradient(bottom, #00efd1, #00acea);
  background-image: linear-gradient(to bottom, #00efd1, #00acea); }

.one-third .two-half, .gradient-text.purple {
  background-image: -moz-linear-gradient(bottom, #8e2de2, #4a00e0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(#8e2de2), color-stop(#4a00e0));
  background-image: -webkit-linear-gradient(bottom, #8e2de2, #4a00e0);
  background-image: -o-linear-gradient(bottom, #8e2de2, #4a00e0);
  background-image: -ms-linear-gradient(bottom, #8e2de2, #4a00e0);
  background-image: linear-gradient(to bottom, #8e2de2, #4a00e0); }

.gradient-text.green {
  background-image: -moz-linear-gradient(bottom, #11998e, #38ef7d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(#11998e), color-stop(#38ef7d));
  background-image: -webkit-linear-gradient(bottom, #11998e, #38ef7d);
  background-image: -o-linear-gradient(bottom, #11998e, #38ef7d);
  background-image: -ms-linear-gradient(bottom, #11998e, #38ef7d);
  background-image: linear-gradient(to bottom, #11998e, #38ef7d); }

.gradient-text.dark-green {
  background-image: -moz-linear-gradient(bottom, #155799, #159957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(#155799), color-stop(#159957));
  background-image: -webkit-linear-gradient(bottom, #155799, #159957);
  background-image: -o-linear-gradient(bottom, #155799, #159957);
  background-image: -ms-linear-gradient(bottom, #155799, #159957);
  background-image: linear-gradient(to bottom, #155799, #159957); }

.one-third .two-half:nth-child(3), .gradient-text.red {
  background-image: -moz-linear-gradient(bottom, #ff9966, #ff5e62);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(#ff9966), color-stop(#ff5e62));
  background-image: -webkit-linear-gradient(bottom, #ff9966, #ff5e62);
  background-image: -o-linear-gradient(bottom, #ff9966, #ff5e62);
  background-image: -ms-linear-gradient(bottom, #ff9966, #ff5e62);
  background-image: linear-gradient(to bottom, #ff9966, #ff5e62); }

.gradient-text.dark-red {
  background-image: -moz-linear-gradient(bottom, #ff6a00, #ee0979);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(#ff6a00), color-stop(#ee0979));
  background-image: -webkit-linear-gradient(bottom, #ff6a00, #ee0979);
  background-image: -o-linear-gradient(bottom, #ff6a00, #ee0979);
  background-image: -ms-linear-gradient(bottom, #ff6a00, #ee0979);
  background-image: linear-gradient(to bottom, #ff6a00, #ee0979); }

.gradient-text.magenta {
  background-image: -moz-linear-gradient(bottom, #f953c6, #b91d73);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(#f953c6), color-stop(#b91d73));
  background-image: -webkit-linear-gradient(bottom, #f953c6, #b91d73);
  background-image: -o-linear-gradient(bottom, #f953c6, #b91d73);
  background-image: -ms-linear-gradient(bottom, #f953c6, #b91d73);
  background-image: linear-gradient(to bottom, #f953c6, #b91d73); }

.notification-item-wrap::after {
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0), #ffffff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(rgba(255, 255, 255, 0)), color-stop(#ffffff));
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), #ffffff);
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), #ffffff);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0), #ffffff);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff); }

.gradient-text {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-moz-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-ms-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-o-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }
/*$subnav-font-size: $default-font-size + 2;
$subnav-line-height: $subnav-font-size + 6;*/
body {
  font-size: 24px;
  line-height: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

a {
  outline: none; }
  a:focus {
    outline: none; }

h2 {
  font-size: 32px;
  line-height: 36px;
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto", sans-serif; }

h3 {
  font-size: 31px;
  line-height: 32px;
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto", sans-serif; }

h4 {
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto", sans-serif; }

h5 {
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto", sans-serif; }

h6 {
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 0; }

.main-nav li a {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea,
button, [type='button'], [type='reset'], [type='submit'] {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  font-weight: 300; }

button, [type='button'], [type='reset'], [type='submit'] {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500; }

.notification .info h6 {
  font-weight: 400; }
  .notification .info h6 strong {
    font-weight: 500; }
.notification .info .time {
  font-size: 12px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400; }

.avatar-inner span {
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  font-weight: 300; }

.inner-item h6 {
  font-size: 13px;
  line-height: 21px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase; }
.inner-item p {
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  font-weight: 500; }

.news-wrap .item-2 .avatar span {
  font-size: 12px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500; }
.news-wrap .notification .info h6 {
  font-weight: 500; }
.news-wrap .notification .chating span {
  font-size: 12px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400; }

.column .content h4 {
  font-weight: 500;
  margin-bottom: 0; }
.column .content span {
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  font-weight: 300; }

.one-third {
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400; }
  .one-third .two-half h6 {
    font-size: 13px;
    line-height: 21px;
    font-style: normal;
    font-weight: 700; }
  .one-third .two-half p {
    font-weight: 500;
    line-height: 20px; }

.btn {
  font-size: 17px;
  line-height: 24px; }

.default-btn {
  font-weight: 500; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav-wrap > ul li div > a {
    font-size: 6px; } }
.single-news h4 {
  line-height: 28px;
  font-style: normal;
  font-weight: 300; }
.single-news a {
  font-size: 15px;
  line-height: 31px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none; }

.company-documents-section .one-fourth h5 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500; }

header,
main,
section, .btn-wrap, .scearch-wrap, [type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea, .main-header-section, .notification-item-wrap, .notification, .recipient-form-wrap, .recipient-form-wrap input, .main-content-wrap, .grid-container, .column, .one-third .link-wrap, .slider-wrap,
.slider-item, .news-wrap,
.title-wrap, .upcoming-notification, .one-third-gellary-section, .one-third-gellary-section .one-third figure, .one-third-gellary-section .one-third h5, .one-fourth-gellary-section, .new-flash-section, .single-news, .company-documents-section {
  float: left;
  width: 100%; }

body {
  overflow-x: hidden;
  overflow-y: auto; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

img {
  display: block; }

a {
  text-decoration: none; }

.common-wrap {
  width: 1140px;
  margin: 0 auto;
  padding: 0 30px; }
  .common-wrap::after {
    display: block;
    content: "";
    clear: both; }

.main-content-wrap {
  overflow: hidden; }

.btn-wrap {
  text-align: center; }

button, [type='button'], [type='reset'], [type='submit'],
.btn {
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: #0b215f;
  border: 1px solid #0b215f;
  width: 237px;
  height: 57px;
  line-break: 55px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.default-btn {
  height: 65px;
  line-height: 63px;
  box-shadow: 0 2px 4px 0 rgba(138, 149, 255, 0.41);
  border-radius: 32.5px;
  border: 0; }

button:hover::after, [type='button']:hover::after, [type='reset']:hover::after, [type='submit']:hover::after {
  width: 100%; }

.btn:hover {
  color: #f4f5fc; }
  .btn:hover::after {
    width: 100%; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn {
    max-width: 260px; } }
.main-nav {
  float: left;
  width: 766px;
  text-align: center; }
  .main-nav li {
    display: inline-block;
    margin: 34px 21px 0; }
    .main-nav li > a {
      display: block;
      position: relative; }
      .main-nav li > a img {
        display: inline-block;
        vertical-align: middle; }
      .main-nav li > a span {
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px; }
    .main-nav li.hasSubnav a::after {
      width: 5px;
      height: 3px;
      content: "";
      background-image: url(../svgs/drop.svg);
      display: inline-block;
      vertical-align: middle; }
    .main-nav li.hasSubnav:hover ul {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
    .main-nav li ul {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      width: auto;
      padding: 10px 15px;
      background-color: #ffffff;
      margin-top: 5px;
      min-width: 150px;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(50px);
      -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
      -o-transform: translateY(50px);
      transform: translateY(50px); }
      .main-nav li ul li {
        display: block;
        text-align: left;
        width: 100%;
        margin: 3px 0; }
        .main-nav li ul li a {
          white-space: nowrap; }

.scearch-wrap {
  background-color: #ffffff;
  margin-top: 22px;
  position: relative;
  max-height: 57px; }
  .scearch-wrap button {
    float: left;
    width: 32px;
    height: 30px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  height: 57px;
  background-color: transparent;
  padding: 0px 20px 0px 33px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(138, 149, 255, 0.31);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  box-shadow: 0 2px 4px 0 rgba(138, 149, 255, 0.31);
  border-style: solid;
  border-width: 1px; }

.main-header-section .header-inner {
  position: relative; }

.logo {
  float: left;
  margin-top: 29px;
  width: 157px;
  margin-right: 0; }
  .logo img {
    width: 100%;
    max-width: 157px; }

.notification-triger {
  float: left;
  width: 157px; }
  .notification-triger .icon-wrap {
    float: right;
    width: 95px;
    height: 93px;
    position: relative;
    z-index: 9999;
    cursor: pointer;
    background-color: #ffffff; }
  .notification-triger .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    position: relative;
    width: 22px;
    height: 28px; }
    .notification-triger .icon img {
      width: 100%; }
    .notification-triger .icon span {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ff6a68;
      position: absolute;
      top: 2px;
      right: -2px;
      bottom: auto;
      left: auto; }

.notification-pop-up-wrap {
  position: absolute;
  right: 30px;
  top: 92px;
  z-index: 9999;
  width: 490px;
  padding-top: 75px;
  -webkit-transform: translateY(-120%);
  -moz-transform: translateY(-120%);
  -ms-transform: translateY(-120%);
  -o-transform: translateY(-120%);
  transform: translateY(-120%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.show .notification-pop-up-wrap {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.show {
  overflow: hidden;
  position: relative; }
  .show::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    left: 0;
    top: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: inherit;
    background-color: rgba(0, 0, 0, 0.2); }

.notification-item-wrap {
  height: 305px;
  padding: 0 63px;
  overflow-y: auto;
  position: relative; }

.notification {
  margin-top: 15px;
  position: relative; }
  .notification .avatar {
    float: left;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden; }
  .notification .info {
    float: left;
    width: 270px;
    margin-left: 18px;
    padding-bottom: 15px;
    border-bottom: 2px solid #c3c9d8; }
  .notification:last-child .info {
    border-bottom-color: transparent; }

.recipient-form-wrap {
  margin-top: 40px;
  padding: 40px 63px 60px;
  border-top: 2px solid #c3c9d8; }
  .recipient-form-wrap input {
    margin: 0;
    margin-top: 20px; }

.main-content-wrap {
  position: relative;
  z-index: 1; }
  .main-content-wrap::before {
    background-image: url(../svgs/rectangle.svg);
    content: "";
    left: 0;
    top: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 23%;
    background-position: left top;
    position: absolute; }

.search-section {
  max-width: 697px;
  margin: 0 auto;
  text-align: center; }
  .search-section::after {
    display: block;
    content: "";
    clear: both; }
  .search-section h2 {
    margin-top: 67px;
    margin-bottom: 0; }

.title-wrap {
  text-align: left;
  margin-bottom: 28px; }
  .title-wrap img {
    float: none;
    display: inline-block;
    vertical-align: middle; }
  .title-wrap h4 {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px; }

.team-work-section {
  margin-top: 107px; }

.column {
  float: left; }
  .column > img {
    float: left;
    width: 20px;
    height: 20px; }
  .column .content {
    float: left;
    width: 269px;
    margin-left: 17px; }

.two-third {
  width: 711px;
  margin-right: 25px; }

.one-third {
  width: 342px; }
  .one-third .two-half {
    width: 158px;
    border-radius: 10px;
    margin-right: 25px;
    margin-top: 14px;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2); }
    .one-third .two-half:nth-child(3) {
      margin-right: 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
    .one-third .two-half figure {
      width: 84px;
      height: 84px;
      margin-top: 12px;
      border-radius: 50%;
      overflow: hidden;
      float: none;
      display: inline-block; }
      .one-third .two-half figure img {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
    .one-third .two-half:hover figure img {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }
    .one-third .two-half p {
      margin-top: 7px; }
  .one-third .link-wrap {
    text-align: center; }
    .one-third .link-wrap a {
      margin-top: 19px;
      display: inline-block;
      text-decoration: underline; }
      .one-third .link-wrap a:hover {
        text-decoration: none; }

.slider-item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 299px;
  border-radius: 10px; }

.slick-dots li {
  width: 7px;
  height: 7px; }
  .slick-dots li button {
    width: 7px;
    height: 7px; }
    .slick-dots li button:hover {
      background: transparent; }
    .slick-dots li button::before {
      opacity: 1;
      content: "";
      width: 7px;
      height: 7px;
      background-image: url(../svgs/Oval-notactive.svg); }
    .slick-dots li button::after {
      opacity: 0;
      visibility: hidden; }
  .slick-dots li.slick-active button::before {
    opacity: 1;
    background-image: url(../svgs/Oval-active.svg); }

.news-wrap {
  margin-top: 67px; }
  .news-wrap .title-wrap {
    margin-bottom: 18px; }
  .news-wrap .slider-item {
    min-height: 408px; }
  .news-wrap .slider-content {
    float: none;
    float: none;
    width: 248px;
    margin: 0 auto;
    clear: both;
    padding-top: 57px;
    padding-bottom: 60px;
    text-align: center; }
    .news-wrap .slider-content img {
      float: none;
      width: 154px;
      margin: 0 auto;
      clear: both;
      height: 154px;
      margin-top: 21px; }
    .news-wrap .slider-content h4 {
      margin-top: 15px; }
  .news-wrap .notification-item-wrap {
    padding: 40px;
    height: auto;
    overflow: inherit;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
    .news-wrap .notification-item-wrap::after {
      content: "";
      position: absolute;
      left: 26px;
      right: 18px;
      bottom: 40px;
      height: 79px; }
    .news-wrap .notification-item-wrap .notification .info {
      width: 199px; }
    .news-wrap .notification-item-wrap .chating {
      position: absolute;
      right: 0;
      top: 0; }
      .news-wrap .notification-item-wrap .chating img,
      .news-wrap .notification-item-wrap .chating span {
        float: none;
        display: inline-block;
        vertical-align: middle; }

.upcoming-notification {
  margin-top: 15px;
  text-align: center; }
  .upcoming-notification a {
    display: inline-block; }

.one-third-gellary-section {
  margin-top: 69px; }
  .one-third-gellary-section .one-third {
    float: left;
    margin-right: 2.7777777778%;
    width: 31.4814814815%;
    margin-top: 28px;
    position: relative;
    z-index: 1; }
    .one-third-gellary-section .one-third:nth-child(3n) {
      margin-right: 0; }
    .one-third-gellary-section .one-third:nth-of-type(-n+3) {
      margin-top: 0; }
    .one-third-gellary-section .one-third:last-child {
      margin-right: 0; }
    .one-third-gellary-section .one-third figure {
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
      .one-third-gellary-section .one-third figure img {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
    .one-third-gellary-section .one-third h5 {
      padding-top: 22px;
      padding-bottom: 12px;
      margin-top: -5px;
      position: relative;
      z-index: -1;
      border-radius: 0 0 10px 10px;
      text-align: center;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .one-third-gellary-section .one-third:hover h5 {
      box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2); }
    .one-third-gellary-section .one-third:hover figure img {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }

.btn-wrap {
  margin-top: 25px; }

.one-fourth {
  float: left;
  margin-right: 2.1296296296%;
  width: 23.4027777778%;
  margin-top: 28px;
  border-radius: 10px;
  text-align: center; }
  .one-fourth:nth-child(4n) {
    margin-right: 0; }
  .one-fourth:nth-of-type(-n+4) {
    margin-top: 0; }
  .one-fourth figure {
    border-radius: 10px;
    overflow: hidden; }
    .one-fourth figure img {
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
  .one-fourth:hover figure img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }

.one-fourth-gellary-section, .new-flash-section {
  margin-top: 71px; }
  .one-fourth-gellary-section .one-fourth:nth-of-type(-n+4), .new-flash-section .one-fourth:nth-of-type(-n+4) {
    margin-top: 0; }
  .one-fourth-gellary-section.connect-to-more-section .one-fourth, .connect-to-more-section.new-flash-section .one-fourth {
    padding: 31px 20px 26px;
    margin-top: 42px;
    float: left;
    margin-right: 3.0555555556%;
    width: 22.7083333333%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
    .one-fourth-gellary-section.connect-to-more-section .one-fourth:nth-child(4n), .connect-to-more-section.new-flash-section .one-fourth:nth-child(4n) {
      margin-right: 0; }

.new-flash-section {
  padding-bottom: 121px; }

.single-news {
  padding: 25px 24px 25px 47px;
  margin-top: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px; }
  .single-news h4 {
    float: none;
    display: inline-block;
    vertical-align: middle;
    width: 855px; }
  .single-news a {
    width: 76px;
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 72px;
    text-align: center; }

.company-documents-section {
  padding: 92px 0 114px; }
  .company-documents-section .one-fourth {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
    .company-documents-section .one-fourth h5 {
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      padding: 28px 10px 18px;
      margin-top: -10px;
      border-radius: 0 0 10px 10px; }
  .company-documents-section .btn-wrap {
    margin-top: 50px; }

/*# sourceMappingURL=main.css.map */
