
.btn-wrap{
    @extend %fw;
    text-align: center;
}

#{$all-buttons},
.btn{
    display: inline-block;
    position: relative;
    background-color: transparent;
    color: $button-text;
    border: 1px solid $button-border;
    width: 237px; 
    height: 57px;
    line-break: 55px;
    text-align: center;
    text-decoration: none;
    @include transition;
}

.default-btn{
 height: 65px;
 line-height: 63px;
 box-shadow: 0 2px 4px 0 rgba(138, 149, 255, 0.41);
 border-radius: 32.5px;
 border: 0;
}

#{$all-buttons-hover}{
    @extend %baseTextColor;
    &::after{
        width: 100%;
    }
}
.btn{
    &:hover{
        color: $button-hovered-text;
        &::after{
            width: 100%;
        }
    }
}

// Responsive
@include media($mobile){
    .btn{
        max-width: 260px;
    }
}