.scroll-container{
    float: left;
    width: 100%;
    height: 305px;
    overflow-y: auto;
}

.scrollable{
    .scroll-bar{
        &.vertical{
            width: 2px;
            right: 2px;
            .thumb{
                width: 4px;
                margin-left: -1px;
            }
        }
    }
} 