
// Gradient style 
%blueGradient{
    @include gradient(#00efd1, #00acea);
}

// Pourple 
%pourpleGradient{
    @include gradient(#8e2de2, #4a00e0);
}

//Green
%greenGradient{
    @include gradient(#11998e, #38ef7d);
}

// Dark Green
%darkGreenGradient{
    @include gradient(#155799, #159957);
}

//Light green
%lightGreenGradient{
    @include gradient(#f8ffae, #43c6ac);
}

// Red
%redGradient{
    @include gradient(#ff9966, #ff5e62);
}
// Dark red
%darkRedGradient{
    @include gradient(#ff6a00, #ee0979);
}

// Magenta
%magentaGradient{
    @include gradient(#f953c6, #b91d73);
}

%whiteGradient{
    @include gradient(rgba(255, 255, 255, 0), $white);
}

.one-third{
    .two-half{
        @extend %pourpleGradient;
        &:nth-child(3){
            @extend %redGradient;
        }
    }
}


.notification-item-wrap{
    &::after{
        @extend %whiteGradient;
    }
}


.gradient-text{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  
    &.green{
        @extend %greenGradient;
    }
    &.dark-green{
        @extend %darkGreenGradient;
    }
    &.blue{
        @extend %blueGradient;
    }
    &.magenta{
        @extend %magentaGradient;
    }
    &.red{
        @extend %redGradient;
    }
    &.dark-red{
        @extend %darkRedGradient;
    }
    &.purple{
        @extend %pourpleGradient;
    }
  
}