
.main-content-wrap{
    @extend %fw;
    position: relative;
    z-index: 1;
    &::before{
        background-image: url(../svgs/rectangle.svg);
        @include beforeAfter;
        @include bg;
        height: 23%;
        background-position: left top;
        position: absolute;

    }
}
.search-section{
    max-width: 697px;
    margin: 0 auto;
    @include clearFix;
    text-align: center;
    h2{
        margin-top: 75px;
        margin-bottom: 0;
    }
}


// Title wrap style 
.title-wrap{
    text-align: left;
    margin-bottom: 28px;
    img{
        @include inlineMiddle;
    }
    h4{
        @include inlineMiddle;
        margin-left: 12px;
    }
}


//grid - 1
.grid-container{
    @extend %fw;
}
.team-work-section{
    margin-top: 107px;
}
.column{
    float: left;
    @extend %fw;
    &> img{
        float: left;
        width: 20px;
        height: 20px;
    }
    .content{
        float: left;
        width: 269px;
        margin-left: 17px;
        span{
            display: block;
            margin-top: 5px;
        }
    }
}
.two-third{
    width: 711px;
    margin-right: 25px;
}
.one-third{
    width: 342px;
    .two-half{
        width: 158px;
        border-radius: 10px;
        margin-right: 25px;
        margin-top: 22px;
        text-align: center;
        padding: 20px 15px;
        box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2);
        &:nth-child(3){
            margin-right: 0;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        }
        figure{
            width: 84px;
            height: 84px;
            margin-top: 12px;
            border-radius: 50%;
            overflow: hidden;
            float: none;
            display: inline-block;
            img{
                width: 100%;
                @include transition;
            }
        }
        &:hover{
            figure{
                img{
                    @include transform(scale(1.05));
                }
            }
        }
        p{
            margin-top: 7px;
        }

    }
    .link-wrap{
        @extend %fw;
        text-align: center;
        a{
            margin-top: 19px;
            display: inline-block;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
}

// Slider style 
.slider-wrap,
.slider-item{
    @extend %fw;
}
.slider-item{
    @include bg;
    min-height: 299px;
    border-radius: 10px;
    display: none;
    &:first-child{
        display: block;
    }
}
.slick-dotted{
    &.slick-slider{
        margin-bottom: 0;
        padding-bottom: 40px;
        .slick-dots{
            bottom: 0;
        }
    }
}
.slick-dots{
    li{
        width: 7px;
        height: 7px;
        button{
            width: 7px;
            height: 7px;
            &:hover{
                background: transparent;
            }
            &::before{
                opacity: 1;
                content: "";
                width: 7px;
                height: 7px;
                background-image: url(../svgs/Oval-notactive.svg);
            }
            &::after{
                opacity: 0;
                visibility: hidden;
            }
        }
        &.slick-active{
            button{
                &::before{
                    opacity: 1;
                    background-image: url(../svgs/Oval-active.svg);
                }
            }
        }
    }
}


// New wrap
.news-wrap,
.title-wrap{
    @extend %fw;
}
.news-wrap{
    margin-top: 55px;
    .title-wrap{
        margin-bottom: 18px;
    }
    .slider-item{
        min-height: 408px;
    }
    .slider-content{
        float: none;
        @include alignCenter(248px);
        padding-top: 57px;
        padding-bottom: 60px;
        text-align: center;
        img{
            @include alignCenter(154px);
            height: 154px;
            margin-top: 21px;
        }
        h4{
            margin-top: 15px;
        }
    }
    .one-third{
        margin-top: 5px;
    }
    .notification-item-wrap{
        padding: 25px 40px 40px;
        margin-top: 7px;
        height: auto;
        overflow: inherit;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        &::after{
            content: "";
            position: absolute;
            left: 26px;
            right: 18px;
            bottom: 40px;
            height: 79px;
        }
        .notification{
            .info{
                width: 199px;
                padding-bottom: 20px;
            }
        }
        .chating{
            position: absolute;
            right: 0; 
            top: 0;
            img,
            span{
                @include inlineMiddle;
            }
        }
    }
}

.upcoming-notification{
    @extend %fw;
    margin-top: 15px;
    text-align: center;
    a{
        display: inline-block;
    }

}

.one-third-gellary-section{
    @extend %fw;
    margin-top: 55px;
    .one-third{
        @include grid(3, 2.777777777777778%);
        margin-top: 35px;
        position: relative;
        z-index: 1;
        &:nth-of-type(-n+3){
            margin-top: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        figure{
            @extend %fw;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            img{
                width: 100%;
                @include transition;
            }
        }
        h5{
            @extend %fw;
            padding-top: 27px;
            padding-bottom: 12px;
            margin-top: -10px;
            position: relative;
            z-index: -1;
            border-radius: 0 0 10px 10px;
            text-align: center;
            @include transition;
        }
        &:hover{
            h5{
                box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
            }
            figure{
                img{
                    @include transform(scale(1.05));
                }
            }
        }
    }
}

.btn-wrap{
    margin-top: 35px;
}

.one-fourth{
    @include grid(4, 2.12962962962963%);
    margin-top: 28px;
    border-radius: 10px;
    text-align: center;
    &:nth-of-type(-n+4){
        margin-top: 0;
    }
    figure{
        border-radius: 10px;
        overflow: hidden;
        img{
            @include transition;
        }
    }
    &:hover{
        figure{
            img{
                @include transform(scale(1.05));
            }
        }
    }
}

// Gellary section
.one-fourth-gellary-section{
    @extend %fw;
    margin-top: 65px;
    .one-fourth{
        &:nth-of-type(-n+4){
            margin-top: 0 !important;
        }
    }
    &.connect-to-more-section{
        .one-fourth{
            padding: 30px 20px 34px;
            margin-top: 42px;
            @include grid(4, 3.055555555555556%);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        }
    }
}


.new-flash-section{
    @extend .one-fourth-gellary-section;
    padding-bottom: 121px;
}
.single-news{
    @extend %fw;
    padding: 24px 24px 23px 47px;
    margin-top: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    &:nth-child(2){
        margin-top: 0;
    }
    h4{
        @include inlineMiddle;
        width: 855px;
    }
    a{
        width: 76px;
        @include inlineMiddle;
        margin-left: 72px;
        text-align: center;
    }
}





// Company documents section
.company-documents-section{
    @extend %fw;
    padding: 87px 0 114px;
    margin-top: 0;
    .title-wrap{
        margin-bottom: 35px;
    }
    .one-fourth{
        @include transition;
        h5{
            @include transition;
            padding: 28px 10px 18px;
            margin-top: -10px;
            border-radius: 0 0 10px 10px;
        }
    }
    .btn-wrap{
        margin-top: 50px;
    }
}
























